<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="EncryptKey" value="CRqUplyYmgOuuZPSHlI6WSgi0k" />
    <add key="SSOld" value="weighbridgetest1" />
     <add key="WebBridgeNo" value="00130" />
    <add key="Password" value="admin123" />
    <add key="Url" value="http://103.203.138.51/DMG2TEST" />
    <add key="ExcelFilePath" value="C:" />
    <add key="CompanyName" value="Example File Name" />
    <add key="Address" value="Example Address" />
    <add key="Port" value="COM1" />
    <add key="BitRate" value="2400" />
    <add key="DataBit" value="8" />
    <add key="Parity" value="None" />
  </appSettings>

</configuration>